apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: splitwise
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:8.12.0
          ports:
            - containerPort: 5601
          env:
            - name: ELASTICSEARCH_HOSTS
              value: "http://elasticsearch:9200"
            - name: XPACK_SECURITY_ENABLED
              value: "false"
---
apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: splitwise
spec:
  type: NodePort
  selector:
    app: kibana
  ports:
    - port: 5601
      targetPort: 5601
      nodePort: 30001
