apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: splitwise
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
        - name: logstash
          image: docker.elastic.co/logstash/logstash:8.12.0
          env:
            - name: LOGSTASH_PIPELINE_PATH
              value: /usr/share/logstash/pipeline/logstash.conf
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: logstash-pipeline
              mountPath: /usr/share/logstash/pipeline/logstash.conf
              subPath: logstash.conf
      volumes:
        - name: logstash-pipeline
          configMap:
            name: logstash-pipeline
---
apiVersion: v1
kind: Service
metadata:
  name: logstash
  namespace: splitwise
spec:
  ports:
    - port: 5000
      name: tcp
  selector:
    app: logstash
