apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-pipeline
  namespace: splitwise
  labels:
    app: logstash
  
data:
  logstash.conf: |
    input {
      tcp {
        port => 5000
        codec => json_lines
      }
    }
    output {
      elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        index => "splitwise-logs-%{+YYYY.MM.dd}"
      }
      stdout { codec => rubydebug }
    }
