#backend-deployment

apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: splitwise
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: uttamhamsaraj24/splitwise-backend:latest 
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        # From ConfigMap
        - name: NODE_ENV
          valueFrom:
            configMapKeyRef:
              name: splitwise-config
              key: NODE_ENV
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: splitwise-config
              key: PORT
        - name: MONGO_HOST
          valueFrom:
            configMapKeyRef:
              name: splitwise-config
              key: MONGO_HOST
        - name: MONGO_DB
          valueFrom:
            configMapKeyRef:
              name: splitwise-config
              key: MONGO_DB
        - name: REDIS_HOST
          valueFrom:
            configMapKeyRef:
              name: splitwise-config
              key: REDIS_HOST
        - name: REDIS_PORT
          valueFrom:
            configMapKeyRef:
              name: splitwise-config
              key: REDIS_PORT
        # From Secret
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: splitwise-secrets
              key: MONGO_USERNAME
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: splitwise-secrets
              key: MONGO_PASSWORD
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: splitwise-secrets
              key: JWT_SECRET
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: splitwise-secrets
              key: REDIS_PASSWORD