.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Override the default input and select styles for light borders */
.ant-input, .ant-select-selector, .ant-input-number-input {
    border: 2px solid #ccc !important; /* Light border */
    background-color: #fff;
}

/* For Ant Design Radio buttons */
.ant-radio-button-wrapper {
    border: 2px solid #ccc !important; /* Light border */
}

/* For Ant Design Select dropdown */
.ant-select .ant-select-selector {
    border: 2px solid #ccc !important; /* Light border */
}



/* For the modal title */
.ant-modal-title {
    color: #333;
}
