---
- name: Deploy Splitwise Application to Kubernetes
  hosts: localhost
  gather_facts: yes
  
  vars:
    k8s_dir: "../k8s"
    k8s_namespace: "splitwise"
  
  tasks:
    - name: Display deployment info
      debug:
        msg: "Deploying to namespace {{ k8s_namespace }}"
    
    - include_tasks: apply_manifests.yml
    
    - name: Get deployment status
      command: kubectl get all -n {{ k8s_namespace }}
      register: status
    
    - name: Display status
      debug:
        msg: "{{ status.stdout_lines }}"
